[submodule "src/zsh-users.zsh-completions"]
	path = src/zsh-users.zsh-completions
	url = https://github.com/zsh-users/zsh-completions.git
[submodule "src/zchee.zsh-completions"]
	path = src/zchee.zsh-completions
	url = https://github.com/zchee/zsh-completions.git
[submodule "src/custom/genhelp"]
	path = src/custom/genhelp
	url = https://github.com/RobSis/zsh-completion-generator
[submodule "src/zsh-yarn-completions"]
	path = src/zsh-yarn-completions
	url = https://github.com/chrisands/zsh-yarn-completions.git

	